@tailwind base;
@tailwind utilities;
@tailwind components;

body::-webkit-scrollbar {
  width: 0px;
}

.swiper-pagination-bullet {
  background: #fff;
}

/* ICON */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-icon {
  animation: rotate 1s linear infinite;
}

/* SIDEBAR */
.height-sidebar {
  height: calc(100dvh - 80px);
}

/* REACT SELECT */
.css-13cymwt-control,
.css-t3ipsp-control {
  @apply py-1;
}

.css-13cymwt-control.error-select__control {
  border-color: red !important;
}

/* SCROLLBAR */
.scroll {
  overflow-y: scroll;
  scrollbar-color: #BEBEBE white;
  scrollbar-width: thin;
}

/* MODAL */
.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  align-items: center;
  display: flex;
  justify-content: center;
  transition: opacity .2s ease-in-out;
  z-index: 999;
}

.modal-fondo {
  background-color: rgba(0, 0, 0, 0.507);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: fixed;
  backdrop-filter: blur(4px); 
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

body.modal-open {
  overflow: hidden;
}